<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd"> 

<configuration>
	<typeAliases>
		<typeAlias type="com.mycomp.sns_pjt.dto.MDto" alias="MDto"/>
		<typeAlias type="com.mycomp.sns_pjt.dto.BDto" alias="BDto"/>
		<typeAlias type="com.mycomp.sns_pjt.dto.CDto" alias="CDto"/>
	</typeAliases>
</configuration>